table {
  margin-top: 32px;
  min-width: 100%;
}
th, td {
  padding-right: 16px;
  padding-bottom: 16px;
  text-align: left;
}
th:last-child, td:last-child {
  padding-right: 0;
}

@media (max-width: 800px) {
  td.hide-on-small-screen, th.hide-on-small-screen {
    display: none;
  }
}